////Variables////
@import "variables/general";
@import "variables/colors";
@import "variables/fonts";
@import "variables/images";

////Layout////
@import "layout/base";
@import "layout/footer";

////Components////
@import "components/anchor";
@import "components/buttons";
@import "components/misc";

@import "overrides/fontawesome";

.content-container{

}

.content-page{
	position: relative;
	min-width: 100vw;
	width: 100vw;

	padding-top: 50px;
	padding-bottom: 50px;

	background-size: cover;

	display: flex;
	justify-content: center;

	align: {
		content: center;
		items: center;
	}

	&.full{
		height:100vh;
		min-height:100vh;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	&#Skills{
		background: $color-background-skills $image-background-noise repeat;
		color: $color-skills;
	}

	&#Projects{
		background: $color-background-projects $image-background-noise repeat;
		color: $color-skills;
		padding-bottom: 0px;

		& .content-header{
			padding-bottom: 50px;
		}

		& #Kana-Totsugeki{
			background: $color-background-kana-totsugeki $image-background-noise repeat;
		}

		& #Replaceits{
			background: $color-background-kana-replaceits $image-background-noise repeat;
		}
	}

	&#Footer{
		padding: 0.1em;
	}
}

.content-wrapper{
	width: 100vw;

	#Home &{
		width: 41em;
		max-width: 41em;
	}
	
	display: flex;
	flex-direction: column;

	align : {
		content: center;
		items: stretch;
	}

	flex-wrap: nowrap;
}

.header-name, .find-me-item{
	flex: 1 1 0;
	align-self: center;
	vertical-align: middle;

	text : {
		align: center;
	}
}

.header-name, .content-header{
	text-transform: uppercase;
	font-family: $font-header;
	text-align: center;
	letter-spacing: 0.15em;
	font-weight: 800;
	font-size: 3em;
}

.content-sub-header{
	text-transform: uppercase;
	font-family: $font-header;
	text-align: center;
	letter-spacing: 0.15em;
	font-weight: 800;
	font-size: 1.75em;
}

.find-me{
	display: flex;
	
	flex : {
		direction: row;
		wrap: nowrap;
	}

	align : {
		items: center;
		content: stretch;
	}
	margin-top: 25px;
	margin-bottom: 25px;
}

.find-me-item{
	display: inline;

	flex : {
		grow: 1;
		basis: auto;
	}

	align-self: center;
	text-align: center;
	vertical-align: middle;
	font-size: 3.25em;
}

.content-skills-container{
	min-width: 100vw;
	width: 100vw;
	max-width: 100vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: space-around;
}

.content-skills-section{
	align-items: center;
	align-content: center;
	min-width: 50vw;
	max-width: 100vw;
	margin-top: 25px;
	text-align: center;
}

.content-skill{
	display: inline-block;
	font-size: 3em;
	margin-right: 0.75em;
	&:last-child{
		margin-right: 0;
	}
}

.content-project{
	min-width: 100vw;
	width: 100vw;
	max-width: 100vw;

	padding-bottom: 50px;
	padding-top: 50px;

	min-height: 525px;
	max-height: 99999px;

	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.content-project-image-container{
	margin: auto;
	min-width: 450px;
	width: 450px;
	max-width: 450px;
	height: 250px;
	overflow: hidden;
	text-align: center;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 1s ease;
	&:hover{
		box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
	}
}

.content-project-image{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: block;
	height: 100%;
	width: auto;
	margin: auto;

	& img{
		z-index: 2;
	}
}

.content-project-image-controls{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: baseline;

	text-align: center;

	z-index: 4;

	opacity: 0;
	transition: all 1s ease;

	background: rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 50px rgba(0,0,0,1);

	&:hover{
		opacity: 1;
	}

	& a{
		margin: auto;
		font-size: 3em;
		width: auto;
	}
}

.content-project-description{
	height: 250px;
	margin: auto;
	min-width: 60vw;
	width: 60vw;
	max-width: 60vw;
	text-align: justify;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}

.justify{
	text : {
		align: justify;
		justify: inter-word;
	}
}

.shadow-top{
	box-shadow: inset 0px 5px 7px -3px rgba(0,0,0,0.5),
				inset 0px 0px 0px 0px rgba(0,0,0,0);
}

.shadow-bottom{
	box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0),
				inset 0px -5px 7px -3px rgba(0,0,0,0.5);
}

.shadow-top-bottom{
	box-shadow: inset 0px 5px 7px -3px rgba(0,0,0,0.5),
				inset 0px -5px 7px -3px rgba(0,0,0,0.5);
}

////Mobile////
@import "layout/mobile";
