$color-white: #E5EFF3;

$color-primary: #E5EFF3;
$color-secondary: #BDD4DC;

//http://paletton.com/#uid=13S0n0keKmqdDukdZq2eijpcPfw
//http://paletton.com/#uid=73S1O0keKmqdDukdZq2eijpcPfw

$color-background-skills-header: #707EC0;
$color-background-skills: #6671A5;

$color-background-projects: #57618E;

$color-background-kana-totsugeki: #49517A;
$color-midway-1: #454D72;
$color-background-universalcd: #404869;
$color-midway-2: #3C425F;
$color-background-replaceits: #373C54;
$color-midway-3: #3A404D;
$color-background: #3D4345;

$color-skills: #C5CAE1;

