$color-white: #E5EFF3;

$color-primary: #E5EFF3;
$color-secondary: #BDD4DC;



$color-background: #3D4345;
$color-background-skills: #6671A5;
$color-background-projects: #57618E;
$color-background-kana-totsugeki: #49517A;
$color-background-kana-replaceits: #404869;
//#373C54

$color-skills: #C5CAE1;

