html, body{
	margin: 0;
	min-width: 100%;
	width: 100%;
	max-width: 100%;
	font-size: 100%;
	overflow: hidden;
	background: $color-background $image-background-noise repeat;
	color: $color-primary;
	font-family: $font-primary;
}
