@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	html{
		font-size: 140%;
	}

	#description{
		font-size: 1.25em;
		width: 25em;
	}

	#footer{
		font-size: 1.25em;
	}
}
