.content-project{
	min-width: 100vw;
	width: 100vw;
	max-width: 100vw;

	padding-bottom: 50px;
	padding-top: 50px;

	min-height: 525px;
	max-height: 99999px;

	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.content-wrapper{
	& .content-project-divider{
		display: block;
		height: 4em;

		&:nth-child(3){
			background: $color-midway-1 $image-background-noise repeat;
		}

		&:nth-child(5){
			background: $color-midway-2 $image-background-noise repeat;
		}

		&:nth-child(7){
			background: $color-midway-3 $image-background-noise repeat;
		}

		&:nth-child(9){
			background: $color-midway-4 $image-background-noise repeat;
		}
	}
}

.content-project-description{
	margin: auto;
	min-width: 60vw;
	width: 60vw;
	max-width: 60vw;
	text-align: justify;
}
