.contact-form{
    margin: auto;

    display: flex;

    min-width: 41em;
    width: 41em;
    max-width: 41em;

    flex-direction: column;

    color: $color-white;

    *:focus {
        outline: none;
    }

    & label{
        font-size: 1em;
        font-weight: 700;
    }
    
    & .contact-info{
        display: flex;
        flex-direction: row;

        & input{
            box-sizing: border-box;

            border: 0px solid rgba(0,0,0,0);

            padding: 1px 1px 1px 1px;
            margin: 0px 0px 0px 0px;

            width: 20.25rem;
            min-width: 20.25rem;
            max-width: 20.25rem;

            font-family: $font-primary;

            background: rgba(255,255,255,0.15);
            box-shadow: inset 0 1px 3px rgba(0,0,0,0)   , inset 0 1px 2px rgba(0,0,0,0),
                              0 1px 3px rgba(0,0,0,0.12),       0 1px 2px rgba(0,0,0,0.24);

            border-radius: 2px;

            color: $color-white;

            text-align: center;

            height: 1.5em;
            font-size: 1.5em;
            line-height: 1.5em;

            flex: 1 1 0;

            transition: background 1s ease,
                        box-shadow 1s ease;

            &.invalid{
                background: rgba(255,255,255,0.145);
                box-shadow: inset 0 0px 5px rgba(64,72,105,1), inset 0 0px 4px rgba(64,72,105,1),
                                  0 1px 3px rgba(0,0,0,0.12) ,       0 1px 2px rgba(0,0,0,0.24);
            }

            &#input-name{
                margin-right: 0.5rem;
            }
        }
    }

    & textarea{
        flex: 1 1 0;
        box-sizing: border-box;

        resize: none;

        padding: 5px;

        border: 0px solid rgba(0,0,0,0);

        background: rgba(255,255,255,0.15);

        border-radius: 2px;

        color: $color-white;

        font-family: $font-primary;

        box-shadow: inset 0 1px 3px rgba(0,0,0,0)   , inset 0 1px 2px rgba(0,0,0,0),
                          0 1px 3px rgba(0,0,0,0.12),       0 1px 2px rgba(0,0,0,0.24);

        margin-top: 0.5rem;

        font-size: 1.25em;

        transition: background 1s ease,
                    box-shadow 1s ease;

        &#input-message{
            &.invalid{
                background: rgba(255,255,255,0.145);
                box-shadow: inset 0 0px 5px rgba(64,72,105,1), inset 0 0px 4px rgba(64,72,105,1),
                                  0 1px 3px rgba(0,0,0,0.12) ,       0 1px 2px rgba(0,0,0,0.24);
            }

            min-height: 7em;
            height: 7em;
        }
    }

    & .g-recaptcha{
        margin: auto;
    }
}

.contact-loading{
    display: none;
    min-width: 41em;
    width: 41em;
    max-width: 41em;
    margin: auto;
}

.contact-complete{
    margin: auto;
    text-align: center;
    font-size: 1.25em;
    display: none;

    & .content-sub-header{
        font-size: 1.75rem;
    }

    & .contact-success{
        display: none;
    }

    & .contact-failure{
        display: none;
    }
}
